fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
pypdf2
langchain
langchain-groq
langchain-huggingface
tiktoken
groq
pinecone-client
redis
sqlalchemy
psycopg2-binary
asyncpg
sentence-transformers
httpx
pypdf
